// COLORS
$beige: #ebac79;
$black: #000;
$blue: #009cc9;
$red: #e20a1f;
$white: #fff;

// BORDERS
$border-main: 3px;
$border-main-rad: 20px;

// OTHER
$menu-psuedo-ht: 120px; // the height of the pseudo element on the tabmenu
