// COLORS
$beige: #ebac79;
$black: #000;
$blue: #009cc9;
$green: #87ab5d;
$pink: #fea4ce;
$purple: #52364d;
$red: #e20a1f;
$yellow: #ffdc1f;
$white: #fff;

// BORDERS
$border-main: 1px;
$border-main-rad: 20px;
$border-thick: 3px;

// SPRITES - first row
$sprite-row1-height: 112px; // height of each sprite in row 1 - not currently in use
$sprite-row1-width: 130px; // width of each sprite in row 1

// SPRITES - second row
$sprite-row2-y: -112px; // y coord of row 2

// SPRITES - third row
$sprite-row3-y: -142px; // y coord of row 3

// SPRITES - other stuff
$sprite-uflair-height: 30px; // height of user flair
$sprite-uflair-width: 35px; // width of user flair

// OTHER
$menu-psuedo-ht: 120px; // the height of the pseudo element on the tabmenu
