// COLORS
$beige: #ebac79;
$black: #000;
$blue: #009cc9;
$green: #87ab5d;
$pink: #fea4ce;
$purple: #52364d;
$red: #e20a1f;
$yellow: #ffdc1f;
$white: #fff;

// BORDERS
$border-main: 1px;
$border-main-rad: 20px;
$border-thick: 3px;

// OTHER
$menu-psuedo-ht: 120px; // the height of the pseudo element on the tabmenu
