// ANIMATIONS
@keyframes logoSlideOnLoad {
    0%, 40% {
        background-position: -160px 0;
    }
    70%, 90% {
        background-position: 55% 0;
    }
    80%, 95% {
        background-position: 45% 0;
    }
    100% {
        background-position: center 0;
    }
} // @keyframes logoSlideOnLoad
