// FOOTER
.footer-parent {
    .footer {
        background: rgba($white, 0.7);
        border: $border-small solid $black;
        border-radius: $border-main-rad;
        padding: 10px;
    } // .footer
} // .footer-parent
