// FOOTER
.footer-parent {
    &:before {
        content: 'Interested in contributing to the style of this subreddit? Submit a Pull Request at https://github.com/erikwoods/r-WorldOfNintendo!';
        width: 100%;
    }

    .footer {
        background: rgba($white, 0.7);
        border: $border-small solid $black;
        border-radius: $border-main-rad;
        padding: 10px;
    } // .footer
} // .footer-parent
