// HEADER
#header {
    background: transparent url(%%bg-header%%) center bottom repeat-x;
    border: 0 none;
    height: 260px;
} // #header

#sr-header-area {
    border: 0 none;
    border-bottom: $border-main solid $beige;
}

#header-bottom-left {
    display: table;
    margin: 0 auto;

    #header-img-a {
        left: 10px;
        position: absolute;
        top: 100px;

        &:after {
            background: url(%%header-mystery%%) center 0 no-repeat;
            bottom: -49px;
            content: '';
            height: 49px;
            left: -10px;
            position: absolute;
            width: 95px;
        } // &:after

        &:before {
            background: url(%%header-snoo%%) center 72px no-repeat;
            bottom: 0;
            content: '';
            height: 150px;
            left: 0;
            position: absolute;
            transition: background 1s;
            width: 75px;
            z-index: -1;
        } // &:before

        &:hover:before {
            background-position: center 0;
        }
    } // #header-img-a

    #header-img {
        margin: 0;
    } // #header-img

    .redditname {
        margin: 0;

        a {
            animation: logoSlideOnLoad 1s ease-in 1;
            background: url(%%redditname%%) center 0 no-repeat;
            bottom: 0;
            height: 77px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            text-indent: -99999px;
            transition: background 1s;

            &:hover {
                //animation: logoSlideOnHover .5s linear 1;
                background-position: 52% 0;
            } // &:hover
        } // a
    } // .redditname
} // #header-bottom-left

#header-bottom-right {
    background: $white;
    border-color: $black;
    border-radius: $border-main-rad 0 0 $border-main-rad;
    border-style: solid;
    border-width: $border-thick 0 $border-thick $border-thick;
    padding: 6px;
} // #header-bottom-right
