// HEADER
#header {
    background: $red;
    border: 0 none;
    border-bottom: $border-thick solid $black;
    height: 250px;
    margin: 0 0 20px 0;
} // #header

#sr-header-area {
    border: 0 none;
    border-bottom: $border-thick solid $beige;
} // #sr-header-area

#header-bottom-left {
    display: table;
    margin: 0 auto;

    #header-img-a {
        left: 10px;
        position: absolute;
        top: 100px;

        &:after {
            background: url(%%header-mystery%%) center 0 no-repeat;
            bottom: -49px;
            content: '';
            height: 49px;
            left: -10px;
            position: absolute;
            width: 95px;
        } // &:after

        &:before {
            background: url(%%header-snoo%%) center 72px no-repeat;
            bottom: 0;
            content: '';
            height: 150px;
            left: 0;
            position: absolute;
            transition: background 1s;
            width: 75px;
            z-index: -1;
        } // &:before

        &:hover:before {
            background-position: center 0;
        } // &:hover:before
    } // #header-img-a

    #header-img {
        margin: 0;
    } // #header-img

    .redditname {
        margin: 0;

        a {
            background: url(%%redditname%%) center 0 no-repeat;
            bottom: -17px;
            height: 77px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            text-indent: -99999px;
            width: 160px;
        } // a
    } // .redditname
} // #header-bottom-left

#header-bottom-right {
    background: $white;
    border-color: $black;
    border-radius: $border-main-rad 0 0 $border-main-rad;
    border-style: solid;
    border-width: $border-thick 0 $border-thick $border-thick;
    bottom: -15px;
    padding: 6px;
} // #header-bottom-right
