// POSTS
.linklisting {
    overflow: hidden;

    .thing {
        background: rgba($white, 0.7);
        border: $border-main solid $black;
        border-radius: $border-main-rad;
        padding: 10px;
    } // .thing
} // .linklisting

.new-comment .usertext-body,
.comment .usertext-body,
.side .usertext-body {
    background: rgba($white, 0.7);
    border: $border-main solid $black;
    border-radius: $border-main-rad;
    margin: 5px 0;
    padding: 10px;
} // .usertext-body

.new-comment .usertext-body {
    background: rgba($yellow, 0.7);
} // .new-comment .usertext-body

.link .usertext-body .md {
    background: none;
    border: 0 none;
} // .link .usertext-body .md

.comment .child,
.comment .showreplies {
    border-left: 1px solid $black;
} // .comment .child .comment .showreplies
