// Reddit Enhancement Suite styles
html.res {
    #header-bottom-left .tabmenu li #viewImagesButton { // gotta be specific here because we're being specific in tabmenu.scss
        border: $border-main solid $black;
        border-radius: $border-main-rad;
        margin-left: 20px;

        &:before { // wario
            background-position: -780px 40px;
        } // &:before

        &:hover:before {
            background-position: -780px 10px;
        } // &:hover:before
    } // #header-bottom-left .tabmenu li #viewImagesButton

    #header-bottom-right {
        border: 0 none;

        // probably don't need to be this specific, but I'm not familiar enough with
        // RES to know if there's a version that's not set to top. top is modified
        // here because our border on #sr-header-area is 3px (not 1px).
        &.res-navTop {
            top: 21px;
        } // &.res-navTop
    } // #header-bottom-right

    &.csstransforms { // if CSS transforms are supported, make it flip around because Wario
        #header-bottom-left .tabmenu li #viewImagesButton:before {
            bottom: -$menu-psuedo-ht - $border-main;
            top: auto;
            transform: rotate(180deg);
        } // #header-bottom-left .tabmenu li #viewImagesButton:before
    } // &.csstransforms
} // body.res