// SIDEBAR
.side {
    background: none;

    #search input[type=text],
    .sidecontentbox .content {
        background: rgba($white, 0.7);
        border: $border-small solid $black;
        border-radius: $border-main-rad;
        margin: 5px 0;
        outline: none;
        padding: 10px;
    }

    .spacer,
    .titlebox form.toggle {
        background: none;
    }

    .sidebox .morelink {
        background: none;
        border: 0 none;

        a {
            background: rgba($white, 0.7);
            border: $border-main solid $black;
            border-radius: $border-main-rad;
            color: $black;
            transition: background 1s, color 1s;
            width: auto;

            &:hover {
                background: transparent;
                color: $red;
            } // &:hover
        } // a

        .nub { // heh
            display: none;
        } // .nub
    } // .sidebox .morelink

    // hide X subscribers, X users here
    .subscribers .word,
    .users-online .word {
        display: none;
    }

    // show custom X subscribers
    .subscribers .number::after {
        content: ' collectors';
    }

    // show custom X users here
    .users-online .number::after {
        content: ' people looking for 4" Link';
    }
} // .side