// SIDEBAR
.side {
    background: none;

    #search input[type=text],
    .sidecontentbox .content {
        background: rgba($white, 0.7);
        border: $border-small solid $black;
        border-radius: $border-main-rad;
        margin: 5px 0;
        outline: none;
        padding: 10px;
    }

    .spacer,
    .titlebox form.toggle {
        background: none;
    }

    // hide X subscribers, X users here
    .subscribers .word,
    .users-online .word {
        display: none;
    }

    // show custom X subscribers
    .subscribers .number::after {
        content: ' collectors';
    }

    // show custom X users here
    .users-online .number::after {
        content: ' people looking for 4" Link';
    }
} // .side