// TABMENU
#header-bottom-left .tabmenu {
    margin: 0 auto;
    position: relative;
    top: 120px;

    li {
        margin: 0;

        &:nth-child(1) { // hot - fire mario
            a {
                border-left: $border-main solid $black;
                border-radius: $border-main-rad 0 0 $border-main-rad;

                &:before {
                    background-position: 0 40px;
                } // &:before

                &:hover:before {
                    background-position: 0 10px;
                } // &:hover:before
            } // a
        } // &:nth-child(1)

        &:nth-child(2) { // new - samus
            a {
                &:before {
                    background-position: -$sprite-row1-width*1 40px;
                } // &:before

                &:hover:before {
                    background-position: -$sprite-row1-width*1 10px;
                } // &:hover:before
            } // a
        } // &:nth-child(2)

        &:nth-child(3) { // rising - dk
            a {
                &:before {
                    background-position: -$sprite-row1-width*2 40px;
                } // &:before

                &:hover:before {
                    background-position: -$sprite-row1-width*2 10px;
                } // &:hover:before
            } // a
        } // &:nth-child(3)

        &:nth-child(5) { // top - link
            a {
                &:before {
                    background-position: -$sprite-row1-width*3 40px;
                } // &:before

                &:hover:before {
                    background-position: -$sprite-row1-width*3 10px;
                } // &:hover:before
            } // a
        } // &:nth-child(5)

        &:nth-child(7) { // wiki - pikmin
            a {
                border-radius: 0 $border-main-rad $border-main-rad 0;

                &:before {
                    background-position: -$sprite-row1-width*4 40px;
                } // &:before

                &:hover:before {
                    background-position: -$sprite-row1-width*4 10px;
                } // &:hover:before
            } // a
        } // &:nth-child(7)

        &:nth-child(4), // controversial
        &:nth-child(6), // gilded
        &:nth-child(8) // promoted
        {
            display: none;
        } // &:nth-child(4, 6, 8)

        &.selected {
            a {
                background: url(%%bg%%);
                color: $blue;
            } // a
        } // .selected

        a {
            background: $white;
            border: $border-main solid $black;
            border-left: 0 none;
            color: $black;
            display: inline-block;
            min-width: 120px;
            padding: 5px 10px;
            position: relative;
            text-align: center;
            transition: color 1s;

            &:before {
                background: url(%%sprites%%) 0 0 no-repeat;
                content: '';
                height: $menu-psuedo-ht;
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
                top: -$menu-psuedo-ht - $border-main;
                transition: background 1s;
                width: $sprite-row1-width;
            } // &:before

            &:hover {
                background: url(%%bg%%);
                color: $red;
            } // &:hover
        } // a
    } // li
} // #header-bottom-left .tabmenu

.comments-page,
.related-page {
    #header-bottom-left .tabmenu li {
        &:nth-child(2) { // related
            a {
                border-radius: 0 $border-main-rad $border-main-rad 0;
            } // a
        } // &:nth-child(2)
    } // #header-bottom-left .tabmenu li
} // .comments-page, .related-page
