// TABMENU
#header-bottom-left .tabmenu {
    background: $white;
    border: $border-main solid $black;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    top: 120px;

    li {
        margin: 0;

        &:first-child { // reddit.com/r/sub-name/hot
            a {
                border: 0 none;

                &:before {
                    background-image: url(%%nav-mario%%);
                } // &:before
            } // a
        } // &:first-child

        a {
            background: none;
            border: 0 none;
            border-left: $border-main solid $black;
            color: $black;
            display: inline-block;
            min-width: 120px;
            padding: 5px 10px;
            position: relative;
            text-align: center;

            &[href*="/new/"] {
                &:before {
                    background-image: url(%%nav-link%%);
                }
            } // &[href*="/new/"]

            &[href*="/rising/"] {
                &:before {
                    background-image: url(%%nav-dk%%);
                }
            } // &[href*="/rising/"]

            &:before {
                background-position: center 40px;
                background-repeat: no-repeat;
                content: '';
                height: $menu-psuedo-ht;
                left: 0;
                position: absolute;
                top: -$menu-psuedo-ht - $border-main;
                transition: background-position 1s;
                width: 100%;
            } // &:before

            &:hover:before {
                background-position: center 10px;
            } // &:hover:before

            &[href*="/gilded/"],
            &[href*="/wiki/"],
            &[href*="/ads/"] {
                display: none;
            }
        } // a
    } // li
} // #header-bottom-left .tabmenu
