// USER FLAIR
.flairselector .customizer {
    display: none !important;
} // .flairselector .customizer

.flair {
    background: url(%%sprites%%) -99999px -99999px no-repeat;
    background-size: $sprite-uflair-bsize-width $sprite-uflair-bsize-height;
    border: 0 none;
    height: $sprite-uflair-height;
    padding: 0;
    width: $sprite-uflair-width;

    // Flair Modifiers - I'm using attribute selectors for user flair so that I can easily have modifiers appended to flair class names
    &[class*="-small"] {
        background-size: inherit; // reset background size because small flairs are 100%
    } // &[class$="-small"]

    // Public Flair
    &[class*="flair-Mario"] {
        background-position: 0 0;
    }
    &[class*="flair-FireMario"] {
        background-position: -$sprite-uflair-width*1 0;
    }
    &[class*="flair-Samus"] {
        background-position: -$sprite-uflair-width*2 0;
    }
    &[class*="flair-DK"] {
        background-position: -$sprite-uflair-width*3 0;
    }
    &[class*="flair-Link"] {
        background-position: -$sprite-uflair-width*4 0;
    }
    &[class*="flair-RedPikmin"] {
        background-position: -$sprite-uflair-width*5 0;
    }
    &[class*="flair-Wario"] {
        background-position: -$sprite-uflair-width*6 0;
    }
    &[class*="flair-Waluigi"] {
        background-position: -$sprite-uflair-width*7 0;
    }
    &[class*="flair-Bowser"] {
        background-position: -$sprite-uflair-width*8 0;
    }
    &[class*="flair-Toad"] {
        background-position: -$sprite-uflair-width*9 0;
    }
    &[class*="flair-Diddy"] {
        background-position: -$sprite-uflair-width*10 0;
    }
    &[class*="flair-Luigi"] {
        background-position: -$sprite-uflair-width*11 0;
    }
    &[class*="flair-ToonLink"] {
        background-position: -$sprite-uflair-width*12 0;
    }
    &[class*="flair-Yoshi"] {
        background-position: -$sprite-uflair-width*13 0;
    }

    // Mod Flair
    &[class*="-mod"] + a.author:after {
        background: url(%%sprites%%) 0 $sprite-uflair-small-y-pos no-repeat;
        content: '';
        display: inline-block;
        height: $sprite-uflair-height;
        margin: 2px 5px 0 5px;
        width: $sprite-uflair-width;
    }

    // Retailer Flair
    &[class*="flair-tru"] {
        background-position: -$sprite-uflair-width*1 $sprite-uflair-small-y-pos;
    }
    &[class*="flair-target"] {
        background-position: -$sprite-uflair-width*2 $sprite-uflair-small-y-pos;
    }
    &[class*="flair-walmart"] {
        background-position: -$sprite-uflair-width*3 $sprite-uflair-small-y-pos;
    }
    &[class*="flair-walgreens"] {
        background-position: -$sprite-uflair-width*4 $sprite-uflair-small-y-pos;
    }
    &[class*="flair-bam"] {
        background-position: -$sprite-uflair-width*5 $sprite-uflair-small-y-pos;
    }
} // .flair

.link .flair {
    float: left;
} // .link .flair
